.order {
  background-color: #bd966990;
  margin-bottom: 1rem;
  padding-left: 1rem;
  ul{
      padding-top: 0.5rem;
      padding-left: 2rem;
      padding-bottom: 0.5rem;
  }
}

.btn-dlt-admin {
  //background-color: #330a05;
  //color: #bd9669;
  border-radius: 20px;
  margin-bottom: 30px;
  border-color: #330a05;
  padding:  5px;
}

.admin-heading {
  font-weight: bold;
  font-size: 1.25em;
}