.main-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 50px;

    .heading {
        color: #C5BEB4;
        font-size: 1em;
        margin-top: 50px;
        font-weight: normal;
        letter-spacing: 1mm;
}

    .slogan{
        margin: 1em;
        font-size: 1.5em;


    }

    .introduction{
        font-size: 0.7em;
        font-weight: normal;
    }

    .main-image {
        margin: 50px;
        width: 90%;
        z-index: 99;
    }



}

.main-machines {
    display: flex;
    flex-direction: column;
}



.btn {
    background-color: #330a05;
    border-radius: 30px;
    border-color: #330a05;
    padding: 30px;
    margin-top: 20px;

    .btn-text {
        color: #bd9669;
        text-decoration: none;
        font-size: 2em;
        font-weight: bolder;
    }
}