.heading {
    color: #C5BEB4;
    font-size: 3em;
    margin-top: 50px;
}

.main-text {
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 50px;
}

.btn {
    background-color: #330a05;
    border-radius: 30px;
    border-color: #330a05;
    padding: 30px;
    margin-top: 20px;

    .btn-text {
        color: #bd9669;
        text-decoration: none;
        font-size: 2em;
        font-weight: bolder;
    }
}