.container {
  display: flex;
  background-color: #C5BEB4;
  justify-content: center;
  //background-image: url('images/tło_strony.jpg');
  //background-position: top;
  //background-size: cover;
  //height: 100vh;
};

