
.portal {
  width: 100%;
  height: 100vh;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background: rgba( ghostwhite, 0.5);
  .modal{
    width: 50%;
    margin: 20% auto;
    background: white;
    border-radius: 8px;
    padding: 2rem 1rem;
    border: 1px solid black;
  }
};
