.heading {
  text-align: center;
  color: #C5BEB4;
  font-size: 2em;
  margin-top: 70px;
  font-weight: normal;
  letter-spacing: 1mm;
}

.about-us {
  text-align: center;
  line-height: 10mm;
  width: 100%;
  padding: 2%;
  height: 500px;
  color: #FFFFFF;

  .about-us-txt1 {
    margin: 1em;
    font-size: 2em;
    font-weight: bold;
  }

}