* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.main-content {
  width: 100%;
  background-image: url("../../images/background1280shadow.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding: 2%;


  //overflow: scroll;
  //overflow-x: hidden;

}
